@media only screen and (max-width: 800px) and (min-width: 800px)  {...}
  }
		body{
			background-color: #f0f0f0;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
		}
		html, body {
			height: 100%;
		  }
		  
		  #content {
			flex: 1;
		  }
		  
		  /* Hier kannst du den Inhalt deiner Webseite stylen */
		  /* Vollbild-Styles */
@media screen and (min-width: 768px) {
	html, body {
	  height: 100%;
	}
	#content {
	  min-height: 100%;
	}
  }
		#container{
      max-width: 800px;
			margin: 20px auto;
			background-color: #fff;
			padding: 10px;
			border-radius: 10px;
			box-shadow: 0 0 10px #000;
            padding-left:15px;
            padding-right: 15px;
            padding-bottom: 30px;
		}

		h1{
			text-align: center;
			color: #000000;
			margin: 0 0 10px 0;
		}
        h3{
            text-align: center;
            font-size: 25px;
            font-weight: bold;

        }

		select{
      max-width: 700px;
      margin: 20px auto;
			border: 1px solid #000000;
			margin-bottom: 10px;
			padding: 5px;

		}

		ul{
			margin: 0;
			padding: 0;
			margin: 0 auto;
            text-align: center;
			background-color: #fff;
		}

        li {
	display: inline-block;
  }

        li a {
	display: inline-block;
	margin: 3px;
    width: 35px;
    padding: 5px;
	border: 1px solid black;
	text-decoration: none;
	color: black;
	text-align: center;

  }
  
  li a:hover {
	background-color: black;
	color: white;
	text-align: center;
  }
p{
    margin:2px 0px 2px 0px;
    line-height: 20px;
    text-align: justify;
}
#verses p:hover {
  background-color: #e4e4e4;
  color: #000;
  border: 1px dashed;
  border-radius: 2%;
  padding: 2px;
}
#standardSizeButton {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 10px;
  }
  #toTopButton {
	position: fixed;
	bottom: 20px;
	right: 20px;
  }
  #chapterNavigation {
	position: fixed;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: 1000;
  }
  
  .scrollToTopButton {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
  }
  #chapter-navi {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

#chapter-navi h3 {
    margin-top: 0;
}

#chapter-navi ul {
    list-style: none;
    margin-top: 5px;
    padding-left: 0;
}

#chapter-navi li {
    margin-bottom: 5px;
}

#chapter-navi a {
    display: block;
    text-decoration: none;
    color: #333;
}

#chapter-navi a:hover {
    text-decoration: underline;
}

#back-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#back-to-top-button:hover {
    background-color: #333;
}
.sticky-nav {
	position: sticky;
	top: 0;
	z-index: 1;
    background-color: rgba(255, 255, 255, 0.5); /* ändern Sie den Alphawert, um die Transparenz anzupassen */
	border: #b8b8b8 dashed 1px;;
}

.sticky-nav select {
	display: inline-block;
	margin: 10px;
	font-weight: ;
}
select{
	border: #535353 dashed 1px;;
	width: 300px;
	background-color: rgba(255, 255, 255, 0.7); /* ändern Sie den Alphawert, um die Transparenz anzupassen */


}


body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  }
  
  h1 {
	text-align: center;
	margin: 1rem 0;
  }
  
  form {
	display: flex;
	flex-direction: column;
	margin: 1rem;
  }
  
  form > div {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
  }
  
  form label {
	margin-bottom: 0.5rem;
  }
  
  form input, form textarea {
	padding: 0.5rem;
	font-size: 1rem;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  
  form textarea {
	resize: vertical;
  }
  
  form button {
	padding: 0.5rem;
	font-size: 1rem;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
  }
  
  #comments-list {
	margin: 1rem;
  }
  
  .comment {
	border: 1px solid #ccc;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 5px;
  }
  
  .comment h3 {
	margin-top: 0;
  }
  
  .comment p {
	margin-bottom: 0;
  }
  
